.element {
  padding: var(--todo-gap);
  background-color: firebrick;
}

.header {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: var(--todo-gap);
}

.input {
  font-size: 12px;
  margin-top: var(--todo-gap);

  & > * {
    margin-right: var(--todo-gap);
  }

  & > button {
    padding: 0.15rem 0.2rem 0.2rem;
    font-size: 12px;
  }

  & > input {
    font: inherit;
  }
}
