.list-interface {
	padding: var(--todo-gap);
	background-color: firebrick;
}

.list-interface > h1 {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: var(--todo-gap);
}

.list-interface-input {
	font-size: 12px;
	margin-top: var(--todo-gap);
}

.list-interface-input > * {
	margin-right: var(--todo-gap);
}

.list-interface-input > button {
	padding: 0.15rem 0.2rem 0.2rem;
	font-size: 12px;
}

.list-interface-input > input {
	font: inherit;
}
