.list {
	flex-grow: 1; /* fill space between selector and details */
	/* make a vertical flexbox for todo list name and content */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.list-add-button {
	width: fit-content;
	display: inline-block;
}

.list-clear-button {
	width: fit-content;
	display: inline-block;
}

.list-content {
	/* make a vertical flexbox for individual todo items */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
	padding: 2% 5%;
	gap: var(--todo-gap);
	overflow-y: auto; /* make todo list content scrollable vertically */
	overflow-x: hidden;
	background-color: pink;
}
