.element {
  /* make navigator not overflow parent */
  min-height: 0;
  /* fill space between header and footer */
  flex-grow: 1;
  /* make a horizontal flexbox for todo interface and content */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: hotpink;
}
