.element {
  background-color: #774360;
}

.header {
  font-size: 16px;
  font-weight: normal;
  margin: var(--todo-gap);
}

.item {
  color: peachpuff;
  display: block;
  padding: 0.2rem var(--todo-gap);
  text-decoration: none;

  &:hover {
    color: inherit;
    background: peachpuff;
  }

  &Active {
    color: inherit;
    background: white;
  }
}
