.element {
  /* pop the tag menu out */
  /* NOTE: todo-item is the wrapper */
  z-index: 1;
  position: absolute;
  top: 3.5rem;

  padding: var(--todo-gap);
  border-radius: var(--border-radius);
  background-color: snow;
}

.header {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.input {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  font: inherit;
}

.button {
  font-size: 12px;
  padding: 0 0.15rem;
}
