.checkbox {
  margin-right: 0.5rem;
}

/* TODO: generalize this somewhere else along with the button in ItemHeader */
.removeButton {
  width: 1rem;
  height: 1rem;
  padding-bottom: 0.1rem;
  position: absolute;
  right: var(--todo-gap);
  line-height: 0;
  border: 1.5px solid darkred;
  border-radius: var(--border-radius);
  font-weight: bold;
  color: pink;
  background-color: crimson;

  &:hover {
    color: white;
    background-color: darkred;
  }
}
