.item {
	/* become a wrapper for the tag menu */
	position: relative;

	min-width: 10rem;
	border-radius: var(--border-radius);
	/* make a vertical flexbox for todo item content */
	display: flex;
	justify-content: space-between; /* push todo item footer down */
	flex-direction: column;
	background-color: #e7ab79;
}
