.item-footer {
	overflow: hidden;
	height: 1rem;
	border-radius: inherit;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0.15rem 0.25rem 0.75rem;
	background-color: orange;
}

.item-footer-table {
	width: 100%;
}

.item-footer-add-tag {
	font-size: 12px;
	padding: 0 0.15rem;
}

.item-footer-added-on {
	text-align: right;
	font-size: 12px;
}
