.selector {
	background-color: #774360;
}

.selector > h1 {
	font-size: 16px;
	font-weight: normal;
	margin: var(--todo-gap);
}

.selector-item {
	color: peachpuff;
	display: block;
	padding: 0.2rem var(--todo-gap);
	text-decoration: none;
}

.selector-item:hover {
	color: inherit;
	background: peachpuff;
}

.selector-item-active {
	color: inherit;
	background: white;
}
