.todo-item-content {
	overflow: hidden;
	position: relative; /* prepare coordinates for close button */
	padding: 0.25rem 0.5rem;
}

.todo-item-content > button {
	/* push button to the right and make it overlap content */
	position: absolute;
	right: 0.25rem;
	width: 20px;
}

/* TODO: move these to their own classes */
.todo-item-content > form > input {
	margin-right: var(--todo-gap);
}
